{% extends 'base_logged_in.html' %}
{% block content %}
<script>
    function addToPBI(PbiId) {
        axios.post(`http://127.0.0.1:8000/addToSprintBacklog/`, {pbi: PbiId}    );
    }

</script>
<div class="row container-fluid align-items-center" style="height: 50px;">
    <div class="col-11"></div>
    <div class="col-1">
        <div class="row">
            <img src="../static/images/add_circle.png" class="img-add-edit" data-toggle="modal"
                data-target="#exampleModal">
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create A Product Backlog Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form action="/pbiscreate" class="form-group col-md-12" method="post">
            {{create_pbi.as_table}}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" value="productBacklog/">Save changes</button>
        </form>
    </div>
    </div>
   </div>
</div>
<div class="container-fluid" style="height: 100%">
    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="col-heading">Title</th>
            <th scope="col" class="col-heading">Description</th>
            <th scope="col" class="col-heading">Status</th>
            <th scope="col" class="col-heading">Story Points</th>
            <th scope="col" class="col-heading">Prority Level</th>
            <!-- <th scope="col" class="col-heading">Developers</th> -->
        </tr>
        </thead>
        <tbody>
        {% for e in pbis %}
        <tr>
            <td>{{e.product_backlog_title}}</td>
            <td>{{e.product_backlog_description}}</td>
            <td>{{e.product_status}}</td>
            <td>{{e.product_backlog_story_points}}</td>
            <td>{{e.product_backlog_priority}}</td>
            <td>
                <form action="{% url 'pbisedit' %}" method="GET">
                    <input type="hidden" name="product_backlog_id" value="{{e.product_backlog_id}}" />
                    <input type="hidden" name="product_id" value="{{e.product_id}}" />
                    <input type="submit" value="Edit">
                </form>
                <button onclick="addToPBI(`{{e.product_backlog_id}}`);">Add to PBI</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- Button trigger modal -->


    <!-- Modal -->
</div>

{% endblock %}



