{% extends 'base_logged_in.html' %}
{% block content %}
<div style="width: 100%; align-items: center; flex-direction: row; display: flex; justify-content: center;">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center justify-content-center align-items-center">
            <span class="text-white">{{error_message}}</span>
            {% if enable_add_sprint %}
            <form action="" class="form-group col-md-12" method="post">
                {{create_sprint.as_table}}
                {% csrf_token %}
                <button type="submit" class="btn btn-dark button-submit" value="sprintBacklog/">Create Sprint</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
<div style="display: flex; flex-direction: column; width: 100%;">
    <div class="row align-items-center align-self-center" style="width: 80%;">
        <div class="col">Product Backlog</div>
        <div class="col-8">Tasks</div>
        <div class="col">Status</div>
    </div>

</div>
{% endblock %}
