{% extends 'base_logged_in.html' %}
{% block content %}
<div style="width: 100%; align-items: center; flex-direction: row; display: flex; justify-content: center;">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center justify-content-center align-items-center">
            <span class="text-white">{{error_message}}</span>
            <form action="" class="form-group col-md-12" method="post">
                {{create_sprint.as_table}}
                {% csrf_token %}
                <button type="submit" class="btn btn-dark button-submit" value="sprintBacklog/">Create Sprint</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
