{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/css/style.css">
<div class="container-fluid" style="height: 100%">
    <div class="row" style="height: 100%;">
        <div class="col-md-7 input-container-column">
            <div class="sub-column">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <span class="text-white">{{error_message}}</span>

                        <form action="." class="form-group col-md-12" method="post" name="sign_up">
                            {{form.as_table}}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-dark button-submit">Sign Up</button>
                        </form>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <a href="/login"><span class="text-white">Already have an account?</span> <span
                                class="text-black">Login</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 text-center complete-center">
            <img src="../static/images/logo.png" alt="BackTrack" width="60%"/>
        </div>
    </div>
</div>
{% endblock %}

